Source: jack2
Section: audio
Priority: optional
Maintainer: Micah John <micahvdm@gmail.com>
Build-Depends: debhelper (>=11~), libreadline-dev
Standards-Version: 4.1.4
Homepage: https://github.com/micahvdm/jack2

Package: jack2
Architecture: arm64
Multi-Arch: foreign
Depends:
Description: Jack2 package.
