#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
WAF = ./waf

%:
	dh $@  

override_dh_auto_configure:
	$(WAF) configure --prefix=/usr/local \
		--libdir=/usr/local/lib

override_dh_auto_build:
	$(WAF) -v build

override_dh_auto_install:
	$(WAF) -v install --destdir=debian/tmp

override_dh_auto_clean:
	$(WAF) -v distclean || true
	find . -name "*.pyc" -delete

override_dh_makeshlibs:
	dh_makeshlibs -Xinprocess -Xjack_alsa -Xjack_dummy

override_dh_python3:
	dh_python3 -pjackd2
