[submodule "jackd2/src"]
	path = jackd2/src
	url = https://github.com/micahvdm/jack2.git
	branch = master
[submodule "mod-host/src"]
	path = mod-host/src
	url = https://github.com/micahvdm/mod-host.git
	branch = pi-stomp
[submodule "mod-ui/src"]
	path = mod-ui/src
	url = https://github.com/micahvdm/mod-ui.git
	branch = ps-1.13
