Source: mod-ui
Section: audio
Priority: optional
Maintainer: Micah John <micahvdm@gmail.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools, libasound2-dev, libjack-jackd2-dev, liblilv-dev
Standards-Version: 4.1.4
Homepage: https://github.com/micahvdm/mod-ui

Package: mod-ui
X-Python3-Version: >= 3.6
Architecture: arm64
Multi-Arch: foreign
Depends: authbind (>= 2.1.2)
Description: MOD-UI package for pi-Stomp.
