Source: mod-ui
Section: audio
Priority: optional
Maintainer: Micah John <micahvdm@gmail.com>
Build-Depends: debhelper (>=11~), dh-python, python3-all, python3-setuptools, libasound2-dev, libjack-jackd2-dev, liblilv-dev
Standards-Version: 4.1.4
Homepage: https://github.com/micahvdm/mod-ui

Package: mod-ui
X-Python3-Version: >= 3.6
Architecture: arm64
Multi-Arch: foreign
Depends: ${shlibs:Depends}, mod-host (>= 1.13.0-1), mod-midi-merger (>= 0.1.0), browsepy (>= 0.5.7-2), authbind (>= 2.1.2), ${misc:Depends}, ${python3:Depends}
Description: MOD-UI package for pi-Stomp.
