#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
        dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
        PYBUILD_INSTALL_ARGS="--prefix=/usr/local" pybuild --install

override_dh_python3:
        dh_python3 --no-ext-rename -O--buildsystem=pybuild

override_dh_auto_test:

override_dh_usrlocal:

override_dh_installsystemd:
		dh_installsystemd --name=mod-ui --restart-after-upgrade
		dh_installsystemd --name=mod-update --no-enable --no-start --no-stop-on-upgrade mod-update.service
		dh_installsystemd --name=mod-update mod-update.path