Source: mod-host
Section: audio
Priority: optional
Maintainer: Micah John <micahvdm@gmail.com>
Build-Depends: debhelper (>=11~), libreadline-dev
Standards-Version: 4.1.4
Homepage: https://github.com/micahvdm/mod-host

Package: mod-host
Architecture: arm64
Multi-Arch: foreign
Depends: jack2 (>= 1.9.14), ${misc:Depends}, ${shlibs:Depends}
Description: MOD-Host package for pi-Stomp.
