@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?c0qaf0');
  src: url('fonts/icomoon.eot?c0qaf0#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf?c0qaf0') format('truetype'),
       url('fonts/icomoon.woff?c0qaf0') format('woff'),
       url('fonts/icomoon.svg?c0qaf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('fonts/cooperhewitt-semibold-webfont.eot');
  src: url('fonts/cooperhewitt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
       url('fonts/cooperhewitt-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('fonts/cooperhewitt-light-webfont.eot');
  src: url('fonts/cooperhewitt-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-light-webfont.woff') format('woff'),
       url('fonts/cooperhewitt-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('fonts/cooperhewitt-lightitalic-webfont.eot');
  src: url('fonts/cooperhewitt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-lightitalic-webfont.woff') format('woff'),
       url('fonts/cooperhewitt-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('fonts/cooperhewitt-bookitalic-webfont.eot');
  src: url('fonts/cooperhewitt-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-bookitalic-webfont.woff') format('woff'),
       url('fonts/cooperhewitt-bookitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'cooper hewitt';
  src: url('fonts/cooperhewitt-book-webfont.eot');
  src: url('fonts/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
       url('fonts/cooperhewitt-book-webfont.woff') format('woff'),
       url('fonts/cooperhewitt-book-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.button:after,
.icon:after,
.sorting:after,
.sorting:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: none transparent;
  min-height: 100%;
  position: relative;
}

body {
  color: #ccc;
  font-family: "cooper hewitt", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
}

a,
label,
input[type=submit],
input[type=file] {
  cursor: pointer;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

ul.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}

ul.main-menu > li {
  font-size: 1.25rem;
}

form.upload,
form.subdir {
  border: 1px solid #333;
  display: inline-block;
  margin: 0;
  padding: 0;
}

form.upload:after,
form.subdir:after  {
  content: '';
  clear: both;
}

form.upload h2,
form.subdir h2 {
  display: inline-block;
  padding: 1rem 0;
  margin: 0;
}

form.upload label,
form.subdir label {
  display: inline-block;
  background: #333;
  color: white;
  padding: 0 1.5rem;
}

form.upload label input,
form.subdir label input {
  margin-right: 0;
}

form.upload input,
form.subdir input {
  margin: 0.5rem 1rem;
}

html.autosubmit-support form.autosubmit{
  border: 0;
  background: transparent;
}

html.autosubmit-support form.autosubmit input{
  position: fixed;
  top: -500px;
}

html.autosubmit-support form.autosubmit h2{
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
}

table.browser {
  display: block;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;
}

table.browser th,
table.browser td {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 3px 5px;
}

table.browser th {
  color: #fff;
}

table.browser th,
table.browser tr:last-child {
  border-bottom: 1px solid #222;
}

table.browser th:nth-child(2) {
  min-width: 8rem;
}

table.browser th:last-child {
  min-width: 15rem;
}

table.browser tr:nth-child(2n) {
  background-color: #222;
}

table.browser td:first-child {
  min-width: 1rem;
}

table.browser td:nth-child(2) {
  text-align: left;
  width: 100%;
}

/*.parent*/
table.browser td:nth-child(2) > a {
  display: block;
}

table.browser td:nth-child(3) {
  text-align: left;
}

table.browser.rootdirgroup {
  margin-top: 1rem;
}

table.browser.rootdirgroup:first-of-type {
  margin-top: 0;
}

table.browser.rootdirgroup th:first-child {
  font-size: 1.5rem;
  text-align: left;
}

h1 {
  font-size: 2rem;
  white-space: normal;
  word-wrap: normal;
  margin: 0;
  padding: 0 0 0.3rem;
  display: block;
  color: #fff;
  /*
  color: black;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 0 0 white, -1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 2px 1px 0 black, -2px 1px 0 black, 1px 2px 0 black, 1px -2px 0 black, 2px -1px 0 black, -2px -1px 0 black, -1px 2px 0 black, -1px -2px 0 black;
  */
}

ol.path,
ol.path li {
  display: inline;
  margin: 0;
  padding: 0;
}

ol.path li *:before {
  content: ' ';
}

ol.path li *:after{
  content: ' /';
}

ol.path li:first-child *:before,
ol.path li:last-child *:after,
ol.path li *.root:after {
  content: '';
}

ul.navbar,
ul.footer {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  margin: 0;
  padding: 0 1rem;
  display: block;
  line-height: 2.5rem;
  background: #333;
  color: white;
}

ul.navbar a,
ul.footer a {
  color: white;
  font-weight: bold;
}

ul.navbar {
  top: 0;
}

ul.footer {
  bottom: 0;
}

ul.navbar a:hover {
  color: gray;
}

ul.navbar > li,
ul.footer > li {
  list-style: none;
  display: inline;
  margin-right: 10px;
  width: 100%;
}

.inode.icon:after,
.dir.icon:after{
  content: "\e90a";
}

.text.icon:after{
  content: "\e901";
}

.audio.icon:after{
  content: "\e906";
}

.video.icon:after{
  content: "\e908";
}

.image.icon:after{
  content: "\e905";
}

.multipart.icon:after,
.model.icon:after,
.message.icon:after,
.example.icon:after,
.application.icon:after{
  content: "\e900";
}

a.sorting {
  display: block;
  padding: 0 1.4rem 0 0;
}

a.sorting:after,
a.sorting:before {
  float: right;
  margin: 0.2rem -1.3rem -0.2rem;
}

a.sorting:hover:after,
a.sorting.active:after {
  content: "\ea4c";
}

a.sorting.desc:hover:after,
a.sorting.desc.active:after {
  content: "\ea4d";
}

a.sorting.text:hover:after,
a.sorting.text.active:after {
  content: "\ea48";
}

a.sorting.text.desc:hover:after,
a.sorting.text.desc.active:after {
  content: "\ea49";
}

a.sorting.numeric:hover:after,
a.sorting.numeric.active:after {
  content: "\ea4a";
}

a.sorting.numeric.desc:hover:after,
a.sorting.numeric.desc.active:after {
  content: "\ea4b";
}

a.button,
input.button,
html.autosubmit-support form.autosubmit label {
  color: white;
  background: #333;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0.25rem;
  border: 1px solid gray;
  box-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  /*
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 -1px 0 black, 0 1px 0 black;
  */
}

a.button:active,
input.button:active,
html.autosubmit-support form.autosubmit label:active{
  border: 1px solid black;
}

a.button:hover,
input.button:hover,
html.autosubmit-support form.autosubmit label:hover {
  color: white;
  background: black;
}

a.button,
input.button,
html.autosubmit-support form.autosubmit {
  margin-left: 3px;
}

input.button {
  margin-right: 3px;
}

a.button {
  width: 1.5rem;
  height: 1.5rem;
}

a.button.text {
  width: auto;
  height: auto;
}

a.button.text,
html.autosubmit-support form.autosubmit label{
  padding: 0.25rem 0.5rem;
}

a.button.download:after {
  content: "\e904";
}

a.button.remove:after {
  content: "\e902";
}

strong[data-prefix] {
  display: inline-block;
  cursor: help;
}

strong[data-prefix]:after {
  display: inline-block;
  position: relative;
  top: -0.5rem;
  margin: 0 0.25rem;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.2rem;
  content: 'i';
  border-radius: 0.5rem;
  color: white;
  background-color: darkgray;
}

strong[data-prefix]:hover:after {
  display: none;
}

strong[data-prefix]:hover:before {
  content: attr(data-prefix);
}

.disk-space {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 250px;
    text-align: center;
    font-size: 17px;
}
.disk-space > span {
    display: block;
}
.disk-space > span:first-child {
    font-weight: bold;
}

#remove-dialog,
#subdir-dialog {
  text-align: center;
}

#remove-dialog > form {
  display: inline-block;
}

#remove-dialog > form input[type=submit],
#subdir-dialog > form input[type=submit] {
  margin: 5px;
  min-width: 10rem;
}

@media screen and (min-width: 768px)
{
    html {
        width: 90vw;
    }
    body {
        left: 5vw;
    }
}

@media screen and (min-width: 900px)
{
    html {
        width: 80vw;
    }
    body {
        left: 10vw;
    }
}

@media screen and (min-width: 1100px)
{
    html {
        width: 70vw;
    }
    body {
        left: 15vw;
    }
}

@media screen and (min-width: 1400px)
{
    html {
        width: 65vw;
    }
    body {
        left: 17.5vw;
    }
}

@media screen and (min-width: 1600px)
{
    html {
        width: 60vw;
    }
    body {
        left: 20vw;
    }
}

@media screen and (min-width: 1900px)
{
    html {
        width: 50vw;
    }
    body {
        left: 25vw;
    }
}
